# Certs and keys
*.pem
*.key
*.ext
*.csr
*.crt
*.srl

# Backups
*~
*.DS_Store
*.out
*.so
*.swp
*.cache

# Logs
logs
*.log

# Git
!.gitkeep

# Folders
.playwright-*
.vscode/
dist/
node_modules/
vendor/
